absl-py==2.0.0
accelerate==0.24.1
addict==2.4.0
aenum==3.1.15
affine==2.3.1
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==0.7.12
alembic==1.8.0
altair==5.2.0
amply==0.1.5
annotated-types==0.6.0
ansel==0.2.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.3
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array-record==0.4.0
arrow==1.2.2
arviz==0.12.1
asgiref==3.7.2
asn1crypto==1.5.1
astor==0.8.1
astroid==2.11.6
astropy==5.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-lru==2.0.3
async-timeout==4.0.3
atari-py==0.2.9
atomicwrites==1.4.0
attrs==23.1.0
autograd==1.4
autopep8==1.6.0
autoray==0.3.2
awswrangler==3.4.2
Babel==2.10.3
backcall==0.2.0
backoff==2.2.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
baron==0.10.1
basicsr==1.4.2
bcrypt==4.1.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
bitsandbytes==0.46.0
bitstring==3.1.9
bkcharts==0.2
black==22.6.0
bleach==1.5.0
blendmodes==2023
blinker==1.4
blis==0.7.9
bokeh==2.4.3
boltons==23.1.1
boto==2.49.0
boto3==1.24.20
botocore==1.27.20
bottle==0.12.21
branca==0.5.0
Brotli==1.0.9
bunch==1.0.1
bz2file==0.98
cachelib==0.9.0
cachetools==5.3.2
callable==0.1.2
catalogue==2.0.7
category-encoders==2.5.0
certifi==2023.11.17
certipy==0.1.3
cffi==1.15.0
cftime==1.6.1
chardet==5.0.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.18
clean-fid==0.1.35
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
clip==0.2.0
cloudpickle==2.1.0
cmake==3.27.7
cmdstanpy==1.2.0
colorama==0.4.5
colorcet==3.0.0
coloredlogs==15.0.1
combo==0.1.3
comm==0.1.2
confection==0.0.4
configobj==5.0.6
confuse==1.7.0
contourpy==1.2.0
control==0.9.2
convertdate==2.4.0
cookiecutter==2.1.1
coverage==6.4.1
coveralls==3.3.1
cplex==22.1.0.0
crashtest==0.3.1
cryptography==37.0.2
custom-inherit==2.4.0
CVXcanon==0.1.2
cvxopt==1.3.0
cvxpy==1.2.1
cycler==0.12.1
cymem==2.0.6
Cython==0.29.30
dacite==1.8.1
dash==2.5.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
dask==2022.6.1
dataclasses-json==0.5.13
datascience==0.17.5
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
deprecat==2.1.1
Deprecated==1.2.13
deprecation==2.1.0
descartes==1.1.0
diff-match-patch==20200713
dill==0.3.5.1
dimod==0.11.3
diskcache==5.6.3
dispy==4.15.1
distlib==0.3.4
distro==1.7.0
dlx==1.0.4
dm-tree==0.1.8
dmba==0.1.0
docker==5.0.3
docloud==1.0.375
docopt==0.6.2
docplex==2.23.222
docstring-to-markdown==0.11
docutils==0.18.1
dp-accounting==0.4.3
dwave-networkx==0.8.12
easyocr==1.7.1
ecos==2.0.10
editdistance==0.6.0
efficientnet==1.0.0
einops==0.7.0
emoji==1.7.0
entrypoints==0.4
enum34==1.1.10
ephem==4.1.3
essential-generators==1.0
et-xmlfile==1.1.0
ete3==3.1.2
etils==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
facexlib==0.3.0
faiss-cpu==1.7.4
fancyimpute==0.7.0
farmhashpy==0.4.0
fastapi==0.115.12
fastcache==1.1.0
fastdtw==0.3.4
fasteners==0.17.3
fastjsonschema==2.15.3
fastprogress==1.0.2
fastwer==0.1.3
ffmpeg-normalize==1.23.0
ffmpeg-progress-yield==0.2.0
ffmpy==0.3.1
filelock==3.13.1
filterpy==1.4.5
findspark==2.0.1
Fiona==1.8.21
flake8==6.0.0
Flask==2.1.2
Flask-Caching==2.0.0
Flask-Compress==1.12
Flask-Cors==3.0.10
flatbuffers==23.5.26
folium==0.12.1.post1
fonttools==4.45.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.3
funcsigs==1.0.2
future==0.18.3
gast==0.4.0
gcloud==0.18.3
gdown==4.7.1
ged4py==0.4.4
gensim==4.2.0
geopandas==0.11.0
gevent==21.12.0
gfpgan==1.3.8
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.40
globus-sdk==3.10.0
glpk==0.4.6
gofer-grader==1.1.0
google-api-core==2.11.0
google-api-python-client==2.81.0
google-auth==2.23.4
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
google-vizier==0.1.11
googleapis-common-protos==1.61.0
gradio==5.31.0
gradio_client==1.10.1
graphframes==0.6
graphviz==0.8.4
greenlet==1.1.2
groovy==0.1.2
grove.py==0.6
grpcio==1.59.3
grpcio-tools==1.48.2
gwdatafind==1.1.1
gym==0.24.1
gym-notices==0.0.7
h11==0.14.0
h5py==3.7.0
helpdev==0.7.1
hf-xet==1.1.2
hijri-converter==2.2.4
holidays==0.35
holoviews==1.14.9
homebase==1.0.1
html5lib==0.9999999
htmlmin==0.1.12
httpcore==1.0.2
httplib2==0.20.4
httpstan==4.7.2
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.32.2
humanfriendly==10.0
hvplot==0.8.0
idna==3.6
igraph==0.9.11
igwn-auth-utils==0.2.3
ImageHash==4.3.1
imageio==2.33.0
imagesize==1.3.0
imbalanced-learn==0.9.1
imblearn==0.0
imgaug==0.4.0
immutabledict==2.2.3
immutables==0.18
importlib-metadata==6.8.0
importlib-resources==6.1.1
impyute==0.0.8
inflection==0.5.1
iniconfig==1.1.1
iniparse==0.5
InstructorEmbedding==1.0.1
interpret==0.2.7
interpret-core==0.2.7
intervaltree==3.1.0
introcs==1.3.1
ipaddress==1.0.23
ipopt==1.0.3
ipydatawidgets==4.3.1.post1
ipykernel==6.21.3
ipyleaflet==0.16.0
ipympl==0.9.1
ipython==7.34.0
ipython-cypher==0.2.6
ipython-genutils==0.2.0
ipython-mongo==0.3.3
ipython-sql==0.5.0
ipyturtle==0.2.4
ipywidgets==7.7.1
iso8601==1.1.0
isoduration==20.11.0
isort==5.10.1
itsdangerous==2.1.2
jax==0.4.14
jaxlib==0.4.14
jdcal==1.4.1
jedi==0.18.1
jeepney==0.8.0
jellyfish==0.9.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.2.0
json5==0.9.8
jsonmerge==1.9.2
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-contrib-core==0.3.3
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-kernel-gateway==2.5.2
jupyter-latex-envs==1.4.6
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.4.1
jupyter-telemetry==0.1.0
jupyter-ydoc==0.2.4
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyter_server==2.7.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterhub-dummyauthenticator==0.3.1
jupyterhub-simplespawner==0.1
jupyterlab==4.0.3
jupyterlab-launcher==0.13.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.22.1
jupyterthemes==0.20.0
jupytext==1.13.8
jwcrypto==1.3.1
kaggle==1.5.13
keras==2.13.1
Keras-Applications==1.0.8
keras-core==0.1.7
keras-ocr==0.8.9
Keras-Preprocessing==1.1.2
keyring==23.6.0
kiwisolver==1.4.5
knnimpute==0.1.0
korean-lunar-calendar==0.2.1
kornia==0.7.0
kt-legacy==1.0.4
kubernetes==28.1.0
lalsuite==7.5
lancet-ioam==0.9.0
langchain==0.0.335
langcodes==3.3.0
langsmith==0.0.64
lark==1.1.8
lazy-object-proxy==1.7.1
lazy_loader==0.3
lda==2.0.0
ldap3==2.9.1
lesscpy==0.15.0
libclang==14.0.1
libdw==4.3.0
lightning-utilities==0.10.0
ligo-segments==1.4.0
lime==0.2.0.1
lit==17.0.6
llama_cpp_python==0.2.20
llvmlite==0.41.1
lmdb==1.4.1
locket==1.0.0
Logbook==1.5.3
lpips==0.1.4
lscsoft-glue==3.0.1
LunarCalendar==0.0.9
lxml==4.9.0
Mako==1.2.1
Markdown==3.5.1
markdown-it-py==3.0.0
markovchain==0.2.6
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-polyfield==5.10
matplotcheck==0.1.4
matplotlib==3.8.2
matplotlib-inline==0.1.3
mccabe==0.7.0
mdit-py-plugins==0.3.0
mdurl==0.1.1
mediapy==1.1.9
metakernel==0.29.0
minorminer==0.2.9
missingno==0.5.1
missingpy==0.2.0
mistune==2.0.3
mizani==0.7.4
ml-dtypes==0.2.0
mlxtend==0.20.0
mmh3==4.0.1
mock==4.0.3
monotonic==1.6
mord==0.6
more-itertools==8.13.0
mpld3==0.5.8
mpmath==1.3.0
msgpack==0.6.2
multidict==6.0.4
multimethod==1.8
multipledispatch==0.6.0
multiprocess==0.70.13
multitasking==0.0.11
munch==2.5.0
murmurhash==1.0.7
mypy==0.961
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
mysqlclient==2.1.1
namex==0.0.7
nb-mypy==1.0.2
nbclassic==0.3.7
nbclient==0.6.5
nbconvert==7.0.0
nbformat==5.4.0
nbsphinx==0.8.9
ndg-httpsclient==0.5.1
neo4j==4.4.4
neo4jrestclient==2.1.1
neobolt==1.7.17
neotime==1.7.4
nest-asyncio==1.5.5
netCDF4==1.6.0
networkx==3.2.1
nglview==3.0.3
ninja==1.10.2.3
nltk==3.8.1
nose==1.3.7
notebook==6.4.12
notebook_shim==0.2.3
ntlm-auth==1.5.0
numba==0.58.1
numexpr==2.8.4
numpy==1.26.2
numpydoc==1.4.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.6.77
oauth2client==4.1.3
oauthlib==3.2.2
octave-kernel==0.34.2
olefile==0.46
omegaconf==2.3.0
omlt==1.1
onnxruntime==1.16.3
open-clip-torch==2.23.0
openai==0.28.1
openapi-schema-pydantic==1.2.4
opencv-python==4.8.1.78
opencv-python-headless==4.7.0.72
OpenEXR==1.3.9
openpyxl==3.0.10
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
opt-einsum==3.3.0
orjson==3.9.10
osqp==0.6.2.post5
outcome==1.2.0
overrides==7.3.1
packaging==23.2
palettable==3.3.0
pamela==1.0.0
pandapipes==0.6.0
pandapower==2.9.0
pandas==2.1.3
pandas-ml==0.6.1
pandocfilters==1.5.0
panel==0.12.7
param==1.12.2
parameterized==0.9.0
parso==0.8.3
partd==1.2.0
pastel==0.2.1
pathfinder==0.6.2
pathfinding==1.0.1
pathos==0.2.9
pathspec==0.9.0
pathtools==0.1.2
pathy==0.10.1
patsy==0.5.2
pbr==3.1.1
pcappy==0.3
pdfminer.six==20221105
pegasus-wms==5.0.0
pegasus-wms.api==5.0.1
pegasus-wms.common==5.0.1
pegasus-wms.dax==5.0.1
pegasus-wms.worker==5.0.5
PennyLane==0.32.0
PennyLane-Lightning==0.32.0
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
piexif==1.1.3
pika==1.1.0
Pillow==10.1.0
Pint==0.19.2
plac==1.3.5
platformdirs==4.0.0
plotchecker==0.2.0
plotly==5.9.0
plotnine==0.8.0
pluggy==1.0.0
ply==3.11
pomegranate==0.14.8
portalocker==2.4.0
portpicker==1.6.0
posthog==3.0.2
pox==0.3.1
ppft==1.7.6.5
precursion==1.0.0
preshed==3.0.6
prettytable==3.3.0
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
prophet==1.1.5
protobuf==4.25.1
psutil==5.9.6
psycopg2==2.9.3
psycopg2-binary==2.9.3
ptyprocess==0.7.0
PuLP==2.6.0
pulsar-client==3.3.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
py4j==0.10.9.5
pyamg==4.2.3
pyarrow==8.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyassimp==4.1.4
pybind11==2.11.1
PyCBC==2.0.4
pyclipper==1.3.0.post5
pycocotools==2.0.6
pycodestyle==2.10.0
pycos==4.12.1
pycparser==2.21
pyct==0.4.8
pycurl==7.45.1
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
pydocstyle==6.2.3
pydot==1.4.2
pydot-ng==2.0.0
pydotplus==2.0.2
pydub==0.25.1
pyenchant==3.2.2
pyerf==1.0.1
pyerfa==2.0.0.1
pyflakes==3.0.1
pygame==2.1.2
pyglet==1.5.26
Pygments==2.16.1
PyJWT==2.4.0
pylatexenc==2.10
pylev==1.4.0
pylint==2.14.4
pylint-venv==3.0.1
pyls-black==0.4.7
pyls-spyder==0.4.0
pymc3==3.11.4
PyMeeus==0.5.11
pymongo==4.1.1
Pympler==1.0.1
PyMySQL==1.0.2
pyod==1.0.2
pyodbc==4.0.32
Pyomo==6.5.0
PyOpenGL==3.1.6
pyOpenSSL==22.0.0
pyparsing==3.1.1
pypdf==3.17.1
pyperclip==1.8.2
PyPika==0.48.9
pypng==0.0.21
pyproj==3.3.1
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyquil==3.3.3
pyro-api==0.1.2
pyro-ppl==1.8.6
Pyro4==4.82
pyrsistent==0.18.1
pyRXP==3.0.1
pyscf==2.0.1
pyserial==3.5
pysimdjson==3.2.0
PySocks==1.7.1
pyspark==3.3.0
pysqlite3==0.5.4
pysqlite3-binary==0.5.4
pystan==3.4.0
pytesseract==0.3.10
pytest==7.1.2
pytest-pylint==0.18.0
python-bidi==0.4.2
python-constraint==1.4.0
python-crfsuite==0.9.8
python-cypher==0.20.0
python-dateutil==2.8.2
python-debian==0.1.44
python-dotenv==1.0.0
python-editor==1.0.4
python-http-client==3.3.7
python-igraph==0.9.11
python-json-logger==2.0.7
python-jsonrpc-server==0.4.0
python-jwt==3.3.2
python-language-server==0.36.2
python-ligo-lw==1.8.1
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-multipart==0.0.20
python-rapidjson==1.6
python-slugify==6.1.2
python-systemd==0.0.9
pythreejs==2.3.0
pythymiodw==2.4.1
pytoolconfig==1.2.5
pytorch-lightning==2.1.2
pytraj==2.0.6.dev0
pytz==2023.3.post1
pyudev==0.23.2
PyUtilib==6.0.0
pyviz-comms==2.2.0
PyWavelets==1.5.0
pyxattr==0.7.2
pyxdg==0.28
PyYAML==6.0.1
pyzmq==25.0.2
QDarkStyle==3.0.3
qdldl==0.1.5.post2
qiskit==0.36.2
qiskit-aer==0.10.4
qiskit-ibmq-provider==0.19.2
qiskit-ignis==0.7.1
qiskit-nature==0.4.1
qiskit-terra==0.20.2
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.4.1
QtPy==2.1.0
Quandl==3.7.0
quantecon==0.5.3
quantum-grove==1.7.0
quick-start==0.0.dev10
qutip==4.7.0
rasterio==1.3b1
rbfopt==4.2.4
realesrgan==0.3.0
rectangle-packer==2.0.1
redis==4.3.4
referencing==0.31.1
regex==2023.10.3
reportlab==3.6.10
requests==2.31.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resize-right==0.0.2
retry==0.9.2
retrying==1.3.3
retworkx==0.11.0
rfc3339==6.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.5.3
rope==1.7.0
rpcq==3.10.0
rpds-py==0.13.2
rply==0.7.8
rsa==4.9
Rtree==1.0.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
ruff==0.11.12
rustworkx==0.13.2
s3transfer==0.6.0
sacrebleu==2.3.1
safe-netrc==1.0.0
safehttpx==0.1.6
safetensors==0.5.3
SALib==1.4.5
scikit-image==0.22.0
scikit-learn==1.3.1
scikit-surprise==1.1.1
scikits.bootstrap==1.1.0
scikits.odes==2.6.3
scipy==1.11.4
scitokens==1.7.0
scs==3.2.0
seaborn==0.12.2
SecretStorage==3.3.2
selenium==4.3.0
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.0
sendgrid==6.9.7
sentence-transformers==4.1.0
sentencepiece==0.1.99
seqeval==1.2.2
serpent==1.41
setuptools-git==1.2
shap==0.41.0
Shapely==1.8.2
shellingham==1.5.4
simplegeneric==0.8.1
simplejson==3.17.6
sip==6.6.2
six==1.16.0
skope-rules==1.0.1
slicer==0.0.7
smart-open==6.0.0
smbus2==0.4.2
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.2
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.4.2
spyder-kernels==2.4.2
SQLAlchemy==1.4.20
sqlparse==0.4.2
squarify==0.4.3
srsly==2.4.3
sseclient==0.0.27
ssh-import-id==5.11
stack-data==0.2.0
stanio==0.3.0
starkbank-ecdsa==2.0.3
starlette==0.46.2
statsmodels==0.13.2
stemgraphic==0.9.1
stevedore==3.5.0
streamlit==1.28.2
suod==0.0.8
symengine==0.9.2
sympy==1.14.0
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
tb-nightly==2.16.0a20231129
tclab==0.4.9
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.1
tensorflow-addons==0.19.0
tensorflow-compression==2.13.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.13.0
tensorflow-federated==0.63.0
tensorflow-graphics==2021.12.3
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.12.0
tensorflow-model-optimization==0.7.5
tensorflow-privacy==0.8.11
tensorflow-probability==0.20.1
tensorflow-text==2.13.0
tensorrt==8.5.3.1
termcolor==1.1.0
terminado==0.15.0
testpath==0.6.0
text-unidecode==1.3
textblob==0.17.1
textdistance==4.3.0
texttable==1.6.4
tf-estimator-nightly==2.10.0.dev2022063008
tf-keras-nightly==2.16.0.dev2023112810
tf-models-official==2.13.2
tf-slim==1.1.0
tflearn==0.5.0
Theano==1.0.5
Theano-PyMC==1.1.2
thinc==8.1.9
thonny==3.3.14
threadpoolctl==3.1.0
three-merge==0.1.1
thriftpy2==0.4.14
tifffile==2023.9.26
tiktoken==0.5.1
timm==0.9.12
tinycss2==1.1.1
tinydb==4.7.0
tokenizers==0.15.2
tomesd==0.1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.7.0
torchdiffeq==0.2.3
torchmetrics==1.2.0
torchsde==0.2.6
torchvision==0.16.1
torchviz==0.0.2
tornado==6.2
toyplot==1.0.1
toytree==2.0.1
tqdm==4.66.1
traitlets==5.9.0
traittypes==0.2.1
trampoline==0.1.2
transformers==4.36.2
treeinterpreter==0.2.3
trimesh==4.0.0
trio==0.21.0
trio-websocket==0.9.2
triton==3.3.0
tweedledum==1.1.1
typed-ast==1.5.4
typeguard==2.13.3
typer==0.16.0
types-python-dateutil==2.8.19.10
types-retry==0.9.9.2
typing-inspect==0.9.0
typing_extensions==4.13.2
tzdata==2023.3
tzlocal==5.2
ujson==5.3.0
uri-template==1.2.0
uritemplate==4.1.1
urlgrabber==4.1.0
urllib3==1.26.18
uvicorn==0.24.0.post1
uvloop==0.19.0
v==0.0.0
vaderSentiment==3.3.2
validators==0.22.0
vega-datasets==0.9.0
virtualenv==20.15.1
visions==0.7.5
wasabi==0.9.1
watchdog==2.1.9
watchfiles==0.21.0
wcwidth==0.2.12
webargs==8.1.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.3.3
websockets==11.0.3
Werkzeug==3.0.1
whatthepatch==1.0.4
widgetsnbextension==3.6.1
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.1.0
wurlitzer==3.0.2
xarray==2022.3.0
xarray-einstats==0.3.0
xgboost==1.6.1
xlrd==2.0.1
XlsxWriter==3.0.3
xxhash==3.2.0
xyzservices==2022.6.0
y-py==0.5.9
yapf==0.40.2
yarl==1.9.3
ydata-profiling==4.5.1
yfinance==0.1.72
ypy-websocket==0.8.2
zipp==3.17.0
zope.event==4.5.0
zope.interface==5.4.0
